tensorflow 
pandas
dvc
notebook
numpy
matplotlib
seaborn 
python-box==6.0.2
pyYAML
tqdm #to show a progress bar
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask #for creating web application 
Flask-Cors

-e. #to install setup.py